
/* definir toute les couleurs du site */
:root {
    --light-text: #fff;
    --dark-color-1: #0010a3c4;
    --very-light-color:#ffe8f1;
    --dark-text: #222529;
    --gray-text: #7a7a7a;
    --light-color-2: #FFAFCC;
    --light-color: #A2D2FF;

}
@font-face {
    font-family: 'HYWenHei-85W';
    src: url('zh-cn.ttf') format('truetype');
}
body {
    font-family: 'HYWenHei-85W', sans-serif;
    background-color: var(--very-light-color);
    overflow-x: hidden;

}
h1 {
    text-align: center;
    margin: 40px 0;
}
h3 {
    margin-left: 20px;
}
/* #region header */

.navbar {
    background: linear-gradient(to bottom,black, #0010a3c4);
}
.bouton_search {
    border: 1px var(--light-text) solid ;
    color: var(--light-text);
}

.bouton_search:hover {
    background-color: var(--very-light-color);
    box-shadow: 0 0 5px var(--very-light-color);
    color: var(--dark-text);
    scale: 1.05;
}

/* #endregion header */
/* #region Main */

.ligne_sous_titre {
    width: 80%;
    margin: 0 auto;
    margin-top: -60px;
}
.image_top {
    width: 100%;
}
.body_container {
    display: grid;
    grid-template-columns: 0 auto 0;
    overflow-x: hidden;

}
.body_container > *{
    grid-column: 2;
}
@media screen and (min-width: 1400px) {
    .body_container {
        display: grid;
        grid-template-columns: auto 1400px auto;
        
    }
    .formulaire-mid {
        margin: 20px 150px;
    }
  }
/* #endregion Main */
/* #region index */

.carousel {
    margin-top: 50px;
    background-color: #ffbfd7;
    margin-bottom: 50px;
    overflow: hidden;
}
.carousel-control-next {
    background-color: rgba(93, 198, 236, 0.237);
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
}
.carousel-control-prev {
    background-color: rgba(93, 198, 236, 0.2);
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
}

.carousel-caption {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 400px;
    text-align: center;
    border-radius: 10px;
}
.carousel-caption {
    top: 0;
    bottom: auto;
}
.tiktok_logo_square {
    margin-top: 20px;
    width: 100px;
    margin-left: 50px;
}

.tiktok_iphone_preview {
    margin-left: 80px;
}

/* #endregion index */
/* #region search.php */

.formulaire-mid {
    margin: 20px 100px;
}
.formulaire-mid button{
    border: 1px var(--dark-text) solid ;
    color: var(--dark-text);
}
.formulaire-mid button:hover {
    background-color: var(--dark-text);
    box-shadow: 0 0 5px var(--dark-text);
    color: var(--light-text);
    scale: 1.05;
}
/* #endregion search.php */
/* #region contact */

.form_card_contact {
    background-color: var(--light-color);
    margin: 40px 20%;
}
.submit_contact {
    background-color: var(--very-light-color);
    border: 1px var(--light-text) solid ;
    color: var(--dark-text);
    width: 200px;
}
.submit_contact:hover {
    background-color: var(--dark-text);
    box-shadow: 0 0 5px var(--very-light-color);
    color: var(--light-text);
    scale: 1.05;
}
.input_contact {
    background-color: var(--very-light-color);
}
.input_contact::placeholder {
    color: var(--gray-text);
}
@media screen and (max-width: 756px) {
    .radios_contact {
        display: grid;
        grid: 1fr 1fr 1fr 1fr / auto;
        margin-bottom: 0px;
    }
}

/* #endregion contact */
















/* #region footer*/

.footer_reseaux {
    background-color: #111111;
    padding: 20px 0px;
    width: 100vw;
    padding-left: 30%;
    padding-top: 20px;
}
.footer_reseaux a {
    width: fit-content;
    max-height: 60px;
    height: 6vw;
}
.footer_reseaux a img {
    margin: 0px 20px;
    height: 5vw;
    max-height: 50px;
}
.footer_reseaux a:hover {
    filter:brightness(1.5);
}
footer {
    background-color: #000;
    overflow: hidden;
    margin-top: 80px;
}
.footer_text  a{
        color: #575757;
        text-decoration: none;
        
}
.footer_text {
    width: 1300px;
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    line-height: 2;
}

@media screen and (max-width: 756px) {
    .footer_text {
        display: grid;
        grid: 1fr 1fr 1fr 1fr / auto;
        margin-bottom: 0px;
    }
}

.footer_text a:hover {
    filter: brightness(1.5);
}
.footer_text a {
    margin: 0px 3vw;
}
.asso {
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.footer_text a img {
    max-height: 30px;
    padding-bottom: 3px;
}


/* #endregion footer */


